<nav class="d-flex justify-content-between align-items-center topbar">
  <h1 class="title">DeliverIt</h1>
  <div class="topbar__right">
    <a href="#" class="topbar__link">¿Cómo funciona?</a>
    <a href="#" class="topbar__link ml-5">Mi cuenta</a>
    <a href="#" class="topbar__link topbar__link--cta ml-5">Empezar ahora</a>
  </div>
</nav>

<div class="container main-content">
  <div class="row">
    <div class="col-7">
      <app-mockup class="mockup" [imageUrl]="imgUrl">
        <app-mouse [x]="x" [y]="y" [color]="mouseColor"></app-mouse>
      </app-mockup>
    </div>
    <div class="col-5 p-relative">
      <div class="announcer">
        <div class="announcer__top d-flex justify-content-between align-items-center">
          <button (click)="active = 'deliver'" class="announcer__link" [class.announcer__link--active]="active === 'deliver'">Quiero entregar</button>
          <button (click)="active = 'send'" class="announcer__link"[class.announcer__link--active]="active === 'send'">Quiero enviar</button>
          <div class="announcer__knob" [class.announcer__knob--left]="active === 'deliver'"
          [class.announcer__knob--right]="active === 'send'"></div>
        </div>
        <app-steps class="steps" [steps]="steps" [activeStep]="activeStep"></app-steps>
      </div>
      <div class="aux-bg"></div>
    </div>
  </div>
</div>